body {
  background: $light-gray;
}

body.dark {
  background: $dark-blue-bg;
  color: $white;
}

.container {
  padding: 15px 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 30px 35px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 30px 80px;
  }
}
