$white: hsl(0, 0%, 100%);
$black: #000;
$light-gray: hsl(0, 0%, 98%);
$dark-gray: hsl(0, 0%, 52%);
$dark-blue-text: hsl(200, 15%, 8%);
$dark-blue-bg: hsl(207, 26%, 17%);
$dark-blue: hsl(209, 23%, 22%);
