@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap");
body {
  font-family: Nunito, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fafafa;
}

body.dark {
  background: #202c37;
  color: white;
}

.container {
  padding: 15px 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 30px 35px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 30px 80px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0 20px;
  -webkit-box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.2);
}

.mode-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background-color: #202c37;
  border-radius: 50px;
  padding: 5px;
}

.mode-toggler .circle {
  position: relative;
  background: #fafafa;
  border: none;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  -webkit-transition: background 300ms, -webkit-transform 300ms;
  transition: background 300ms, -webkit-transform 300ms;
  transition: background 300ms, transform 300ms;
  transition: background 300ms, transform 300ms, -webkit-transform 300ms;
}

.mode-toggler .circle::after {
  opacity: 0;
  -webkit-transition: opacity, 300ms;
  transition: opacity, 300ms;
}

body.dark .nav {
  background: #2b3945;
}

body.dark .mode-toggler .circle {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  background: #fafafa;
  -webkit-transition: background 300ms, -webkit-transform 300ms;
  transition: background 300ms, -webkit-transform 300ms;
  transition: background 300ms, transform 300ms;
  transition: background 300ms, transform 300ms, -webkit-transform 300ms;
}

body.dark .mode-toggler .circle::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -12px;
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 100%;
  background: #202c37;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

@media (min-width: 768px) {
  .nav {
    padding: 0 35px;
  }
}

@media (min-width: 992px) {
  .nav {
    padding: 0 80px;
  }
}

.card {
  width: 100%;
  max-width: 320px;
  height: 350px;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  color: #000;
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
}

.card__desc {
  height: 50%;
  padding: 23px;
}

.card__img {
  width: 100%;
  height: 50%;
}

.card__title {
  margin-bottom: 15px;
}

.card__item {
  margin-bottom: 5px;
}

.card__item--title {
  font-weight: 700;
}

body.dark .card {
  background: #2b3945;
  color: white;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input {
  -webkit-box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: #000;
  border: none;
  background-color: white;
  height: 40px;
}

.input::-webkit-input-placeholder {
  color: #000;
}

.input:-ms-input-placeholder {
  color: #000;
}

.input::-ms-input-placeholder {
  color: #000;
}

.input::placeholder {
  color: #000;
}

.searchBar {
  width: 100%;
  max-width: 500px;
  padding: 0 20px 0 43px;
  background: white url(/src/assets/searchLM.svg) no-repeat;
  background-position: 9px;
  margin-bottom: 15px;
}

.filterBar {
  width: 170px;
  padding: 0 5px;
}

.filterBar select {
  height: 10px;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 15px;
  padding-right: 0;
  padding-left: 0;
}

.card-container a {
  display: block;
}

body.dark .input {
  background-color: #2b3945;
  color: white;
}

body.dark .input::-webkit-input-placeholder {
  color: white;
}

body.dark .input:-ms-input-placeholder {
  color: white;
}

body.dark .input::-ms-input-placeholder {
  color: white;
}

body.dark .input::placeholder {
  color: white;
}

body.dark .searchBar {
  background: #2b3945 url(/src/assets/searchDM.svg) no-repeat;
  background-position: 9px;
}

@media (min-width: 768px) {
  .card-container {
    grid-gap: 30px;
  }
}

.backButton-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  color: #000;
  text-decoration: none;
  background: white;
  -webkit-box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
}

.backButton-wrapper:hover {
  background-color: #f0e68c;
}

.backButton-wrapper svg {
  margin-right: 5px;
  width: 30px;
  height: 20px;
}

.backButton {
  position: relative;
  margin-left: 5px;
}

.flag {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.details {
  display: -ms-grid;
  display: grid;
  padding: 52px 0 20px 0;
}

.desc {
  padding: 35px 0 0 0;
}

.desc h2 {
  margin-bottom: 25px;
}

.desc p {
  margin-bottom: 8px;
}

.desc__title {
  font-weight: 700;
}

.borders {
  margin-top: 25px;
}

.countryWrapper {
  display: inline-block;
  border-radius: 6px;
  background: white;
  padding: 8px;
  margin: 6px 0 6px 6px;
  text-decoration: none;
  color: #000;
  -webkit-box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
}

.countryWrapper:hover {
  background-color: #f0e68c;
}

.countryWrapper p {
  margin-bottom: 0;
}

body.dark .backButton-wrapper {
  background: #2b3945;
  color: white;
}

body.dark .backButton-wrapper:hover {
  background-color: #6b6105;
}

body.dark .countryWrapper {
  color: white;
  background: #2b3945;
}

body.dark .countryWrapper:hover {
  background-color: #6b6105;
}

@media (min-width: 250px) {
  .flag {
    height: 150px;
  }
}

@media (min-width: 430px) {
  .flag {
    height: 290px;
  }
}

@media (min-width: 768px) {
  .flag {
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .details {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding: 0;
    margin-top: 50px;
  }
  .details .desc {
    padding: 0;
  }
}
/*# sourceMappingURL=App.css.map */